rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /waitlist/{document} {
      // Allow anyone to create a document, but block public reading
      allow create: if true;
      allow read: if false; 
    }
    match /free_tool_logs/{document} {
      // Restrict access to these logs to prevent IP hash/usage enumeration
      allow create: if true; // API currently needs this to log hits
      allow read: if false; 
    }
  }
}
